

fieldset{
    width: 400px;
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
}

#gomb{
    width: 100px;
    height: 30px;
    font-weight: bold;
    border: 1px black solid;
}

#visszaig{
    background-color: white;
    font-weight: bold;
}